body {
	>header {
		@extend %d-readable;
		position: relative;

		>h1 {
			@extend %c-site-logo;
		}

		>nav {
			@extend %c-site-nav;
		}
	}

	>footer {
		margin-top: 4rem;
		border-top: 4px solid #eee;

		p {
			padding: 2rem 1rem;
		}
	}

	>main {
		>section {
			h1 {
				margin: 1.5rem 0;
			}
		}
	}
}
